$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: rgba(167, 163, 163, 0.9);

.flash-success,
.flash-warning,
.flash-error {
  font-size: 50px;
  line-height: inherit;
  border-radius: 15px;
  display: block;
  align-self: center;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  min-width: 300px;
  z-index: 1;
  color: #fafafa;
}

.flash-success {
  background-color: $charcoal;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15% auto 0;
  max-width: 600px;

  h3,
  input {
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
  }
}
