.images {
  justify-content: center !important;
  align-items: center !important;
  width: 820px;
  height: auto;
  grid-template-columns: auto;
  // margin: 40px auto 0 auto;
  margin: 60px auto;
  display: block;
}

.inde-image {
  max-height: 600px !important;
  min-width: 300px !important;
  width: 800px !important;
  max-width: 800px !important;
  overflow-y: scroll;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  background-position: center;
  margin: 0 auto;
}

.react-slideshow-container .nav {
  color: #0075df;
  background-color: #fafafa;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .images {
    width: 420px !important;
  }

  .inde-image {
    width: 400px !important;
    height: auto !important;
    object-fit: scale-down !important;
  }
}

@media only screen and (max-width: 600px) {
  .images {
    width: 320px !important;
  }

  .inde-image {
    width: 300px !important;
    height: auto !important;
    object-fit: scale-down !important;
  }
}
