.pet {
  text-align: center;
  margin: 30px auto;
  margin-bottom: 0;
  padding: 30px 0 60px 0;
  height: 100%;
  width: 100%;
  background: rgba(49, 112, 143, 0.2);
  border-radius: 20px;
}

.each-pet {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 290px;
  height: 290px;
  background-image: url(../pictures/pet-background1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 25px;
  margin-top: 20px;
}

.pet-title {
  text-decoration: underline;
  margin: 30px 0 -40px 0;
  color: #31708f;
}

.title-cares {
  color: #31708f;
}

.pet-details {
  margin: -50px auto;
  font-size: 20px;
}

.del-pet {
  display: flex;
  align-self: flex-end;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  margin: -30px 5px 5px 0;
  border-radius: 100%;
  background-color: #f8f8f8;
  color: #f8f8f8;
  border: none;
}

.cares {
  width: 60%;
  box-shadow: 5px 8px #31708f;
  max-height: 290px;
  overflow: auto;
  padding: 20px;
  padding-bottom: 15px;
  margin-top: 25px;
  border-radius: 8px;
  color: rgba(41, 43, 44, 1);
}

.inde-cares {
  padding-top: 9px;
  border: 1px solid rgba(49, 112, 143, 0.5);
  border-radius: 5px;
  background-color: #fafafa;
}

.inde-care-paragraph {
  padding: 10px;
}

.button {
  display: flex;
  float: right;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  margin: -30px 5px 0 0;
  border-radius: 100%;
  background-color: rgba(49, 112, 143, 0);
  // color: rgba(49, 112, 143, 0.2);
  border: none;
}

@media only screen and (max-width: 1000px) {
  .pet {
    width: 100%;
    margin: 0;
    margin-top: 40px;
  }

  .each-pet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0;
  }

  .profile {
    align-self: center;
    border-radius: 8px;
    // border: 1px solid #31708f;
  }

  .cares {
    align-self: center;
    min-width: 290px;
    box-shadow: none;
    background: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin: 0;
    margin-top: 20px;
    // border: 1px solid #31708f;
  }
}

@media only screen and (max-width: 700px) {
  .pet {
    border-radius: 0;
    margin: 0;
  }
}
